__pycache__/
*.pyc
*.pyo
results/
test_results/
debug_results/
*.mp4
*.avi
*.sto
*.log
MUJOCO_LOG.TXT
test.pool.py
test_control.py
test_log_output.py
test_optimizer.py
test_plot_output.py
test_simulation.py
test_video_render.py
.vscode/
.idea/

